html, body {
 /** Initialize CSS variables for main colors */
  --color-text: black;
  --color-green: #1FA67A;
  --color-body: white;
  --color-error: red;
  --color-success: #1F8FA6;

  margin: 0;
  font-family: "sans";
  color: var(--color-text);
}

body {
  font-size: 1rem;
  background: #fff;

}

/** flex layout **/
body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-end;
    /*align-items: center;*/
}
#appBar {
    order: 1;
    flex: 0 1 auto;
    align-self: stretch;
    background-color: var(--color-green);
}

#appBar button {
  font-size: 1.2rem;
}

#appBody {
  order: 2;
  flex: 0 1 auto;
  align-self: auto;
  padding: 0.5rem;
  position: fixed;
  background-color: var(--color-body);
  width: 100%;
}
brick-deck > brick-card {
  position: fixed !important;
  overflow: scroll;
  height: 80%;
}
#activity {
  position: absolute;
  top: 20%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: 99;
  background-color: var(--color-body);
}
#tabbar {
    position: fixed;
    bottom: 0%;
    border-top: 1px solid var(--color-green);
    box-shadow: 0px -5px 5px 2px #BBB;
    z-index: 2; /* so that the box-shadow overlays content in appBody*/
}
brick-tabbar-tab[selected="true"] > i {
  color: var(--color-green);
}
#tabbar .selected-indicator  {
  background-color:  var(--color-green);
}
h1 {
  margin: 0 0 1rem 0;
}
fieldset { border: none; }

button[type="submit"] {
  float: right;
}
input:invalid {
  border-color: var(--color-error);
}
.invisible {
  opacity: 0;
}
.fade {
    transition: all 1s ease-out;
}
.displaynone {
  display: none;
}
#addInfo {
    text-overflow: ellipsis;
}
p.error {
  color: var(--color-error);
  font-weight: bold;
}
p.success {
  color: var(--color-success);
  font-weight: bold;
}



.testImage {
  display: none;
}
#btnAdd, #settingsSave {
  float: right;
  background-color: var(--color-green);
  background-image: none;
  margin-top: 15%;
  min-width: 30%;
  color: var(--color-text);
  line-height: 2rem;
  font-size: 1.3rem;
}

p.hint { font-size: small; margin: 0 1rem; }
p#shareInfo {
    text-align: center;
    text-overflow: ellipsis;
}
p#shareStatus {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 80pt;
}

input[type="text"], input[type="url"] {
  line-height: 2rem;
  color: var(--color-text);
  height: 3rem;
  font-size: 1.6rem;
  padding: 0px 0.5rem;
  width: 90%;
}
textarea {
  font-family: "sans";
  height: 5rem;
  font-size: 1.6rem;
  padding: 0px 0.5rem;
  width: 90%;
}